.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.hero-text {
  position: absolute;
  width: 250.31px;
  height: 123px;
  left: 44.94px;
  top: 85.38px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 800;
  font-size: 30.5583px;
  line-height: 135%;
  text-transform: capitalize;
  color: #230f0f;
}
